.signinpage {
  display: flex;
}

.image1 {
  margin-top: 9rem;
  margin-left: 7rem;
  height: 322px;
  width: 474px;
}

.image2 {
  width: 284px;
  height: 319px;
  position: absolute;
  bottom: 0px;
  opacity: 0.4;
  color: #818181;
}

.signin-part {
  display: flex;
  height: 960px;
  padding: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  flex: 1 0 0;
}

.logo {
  width: 201px;
  height: 40px;
}

.btn {
  
}

.button {
  color: #fff;
  background-color: #1570EF;
  padding: 16px 14px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-style: normal;
  font-weight: 600;
}
